
.h2 {
    position: relative;
    font-size: 2.5vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 20px;
}

.h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: red;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid red;
    overflow: hidden;
    animation: animateh2 6s linear infinite;
}

@keyframes animateh2 {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}