.contpageClock {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contpageClockHidden {
    display: none;
}
.contenbuton {
    display: flex;
    gap: 50px;
    margin-top: 50px;

}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.contPageTransitionClock {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clock {
    margin-left: 90px;
}


.imglogoparque {
    width: 100px;
    height: 100px;
    filter: drop-shadow(10px 10px 0px lime);
}

.contenimglogo {
    width: 90%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contenimglogo .contEspanisL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenimglogo .contInglishL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

/*======= LOADING =========*/
.contLoadingHidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #e3edf7;
    gap: 20px;
    transition: 1.3s;
    opacity: 0;
    z-index: 0;
    display: none;
}
.contLoadingVisisble {
    position: absolute;
    top: 0;
    left: 0;
    border: #e3edf7;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: 1.3s;
    z-index: 3;
    /* display: none; */
}
.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px  -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    border-radius: 50%;
}
.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), 
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255, 1), 0.5px 0.5px 0px
    rgba(0,0,0, 0.15), 0px 12px 10px -10px rgba(0,0,0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 30px;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}
.contMessege {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
}