body::-webkit-scrollbar{
    visibility: hidden;
}


body {
    background-color: #eaeaea;
}
/* Transition */
.lentDarkT {
    animation: animateLent 2.3s ease-in-out;
}

@keyframes animateLent {
    0% {
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    }
    50% {
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

/* TRANSISION PARA SALIR DEL PAGE INDEX*/
.lentDarkTexit {
    animation: animateExit 2.3s ease-in-out;
}

@keyframes animateExit {
    0% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    }
    100% {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    }
}
/*----------temporizador--------------*/

/*variables de colores*/
:root {

    --color-primary: hsl(0, 0%, 0%);
    --color-secondary: hsl(0, 0%, 100%);
    --color-font: hsl(0, 0%, 100%, 0.902);
    --color-shadow: hsl(235, 36%, 35%);
}
/* ------------ */

.contTemporizator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    visibility: visible;
    transition: 1.3s all;
}
.none{
    display: none;
    z-index: 0;
}
.containerTempo{
    position: absolute;
    transform: translate(590px, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.timerTempo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.timeTempo #minutes, #seconds, #pointsTempo {
    color: #000;
}
.circleTempo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
}

.circleTempo::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-secondary);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px -1px 20px black;
}

.timeTempo{
    position: relative;
    display: flex;
    flex-direction: row;
}

.timeTempo p{
    color: white;
    font-size: 2rem;
}

.timeTempo p:nth-of-type(2){
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;

}

.controlsTempo{
    margin-top: 3rem;
}

.controlsTempo button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controlsTempo #reset{
    display: none;
    
}


.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    padding: 50px; 
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 150px;
    height: 200px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 77%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 3px 13px #000;
}
.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 37%;
}

.item:nth-child(4) {
    left: calc(33.2% + 220px);
}
.item:nth-child(5) {
    left: calc(29.5% + 440px);
}

.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}
.content .contTextRight {
    position: absolute;
    transform: translate(877px, -195px)
}
#contextoRight {
    position: absolute;
    transform: translate(877px, -55px);
}
.contTextRight h2 {
    -webkit-text-stroke: 1px black;
}
.content h1 {
    position: absolute;
    -webkit-text-stroke: 1px black;
    transform: translate(532px, -105px);
    font-size: 70px;
    opacity: 0;
    animation: showTittle 1s ease-in-out 1s 1 forwards;
}
.content .tittle1931 {
    transform: translate(552px, -198px);
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name {
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1s 1 forwards;
}
.item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}
/* ESTILOS PARA LA IMG */
.imgCenso {
    position: absolute;
    width: 200px;
    height: auto;
}
.imgArturo {
    position: absolute;
    width: 150px;
    height: 200px;
}
.titlle1958 {
    margin-top: 70px;
}
@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}


@keyframes showTittle {
    from {
        opacity: 0;
        transform: translate(100);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
.buttons {
    position: absolute;
    bottom: 70px;
    z-index: 222222;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 500px;

}
.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #10100c;
    color: white;
}

.glow-on-hoverR {
    width: 55px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border-radius: 50%;
    transition: .3s all;
    transform: translate(422px , 427px);
    border: solid 3px black;
    filter: drop-shadow(5px 5px 5px black);
}


.glow-on-hoverR:hover {
    background-color: black;
    color: white;
    transition: .3s all;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.contIconSearch{
    position: absolute;
    width: 30px;
    height: 30px;
    color: black;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: 'Tillana';
    cursor: pointer;
    transform: translate(405px , 669px);
}
.SearchBox {
    position: absolute;
    width: 210px;
    height: 30px;
    color: black;
    background: white;
    border-radius: 20px;
    text-align: center;
    z-index: 100;
    border: none;
    font-family: 'Tillana';
    transform: translate(183px , 669px);
}

.glow-on-hoverV {
    font-family: 'Tillana';
    font-size: 20px;
    width: 105px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 100;
    text-align: center;
    border-radius: 10px;
    transition: .3s all;
    transform: translate(13px , 664px);
    border: solid 3px black;
    filter: drop-shadow(5px 5px 5px black);
}
.glow-on-hoverV:hover {
    background-color: #000;
    color: white;
    transition: .3s all;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btnHidden {
    visibility: hidden;
}