body::-webkit-scrollbar{
    visibility: hidden;
}
/*================*/

body {
    background-color: #eaeaea;
}
.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    padding: 50px; 
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 150px;
    height: 200px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 77%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 3px 13px #000;
}
.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 37%;
}

.item:nth-child(4) {
    left: calc(33.2% + 220px);
}
.item:nth-child(5) {
    left: calc(29.5% + 440px);
}
.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}
.content .contTextRight {
    position: absolute;
    transform: translate(877px, -195px)
}
.content h1 {
    position: absolute;
    transform: translate(532px, -138px);
    font-size: 70px;
    opacity: 0;
    animation: showTittle 1s ease-in-out 1s 1 forwards;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name {
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1s 1 forwards;
}
.item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
/*animation tittle*/
@keyframes showTittle {
    from {
        opacity: 0;
        transform: translate(100);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
.buttons {
    position: absolute;
    bottom: 70px;
    z-index: 222222;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 500px;

}
.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}
.buttons button:hover {
    background-color: #10100c;
}