:root {
    font-size: 62.5%;

    --color-primary: hsl(235, 35%, 19%);
    --color-secondary: hsl(358, 78%, 69%);
    --color-font: hsl(0, 0%, 100%, 0.902);
    --color-shadow: hsl(235, 36%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

   height: 100%; 
   background-color: var(--color-primary);
   font-size: 1.6rem;
}

p , i , h1{
    color: var(--color-font);
}

i{
    font-size: 3.2rem;
}

h1{
    font-size: 3.2rem;
}

.contTemporizator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.containerTempo{
    position: absolute;
    transform: translate(521px, 196px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow) ;
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.painel p {
    opacity: .8;
    transition: 1s ease-in;
}

.painel p.active{
    opacity: 1;
    color: var(--color-secondary);
}

.timerTempo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circleTempo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circleTempo::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.timeTempo{
    position: relative;
    display: flex;
    flex-direction: row;
}

.timeTempo p{
    font-size: 2.8rem;
}

.timeTempo p:nth-of-type(2){
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;

}

.controlsTempo{
    margin-top: 3rem;
}

.controlsTempo button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controlsTempo #reset{
    display: none;
    
}